{% extends "layout.html "%}
{% block content %}
    <h1>About Page</h1>
    <p> MysterEats is a fun and exciting application that focuses on traveling and adventuring new restaurants for those
        who are looking to break routine, explore a city’s food culture or create new adventures with a partner, group
        of friends or by themselves. </p>
    <p>Our application provides the users with tools to expand their tastes and interests by creating an auto-generate
        “adventure button” with directions to an unknown top rated restaurant in a city chosen by the user. The user
        also has the ability to call the uber application and take them to the hidden restaurant location. At the end of
        the user’s adventure a summary page will show a detailed description of each restaurant and the ability to
        comment, save and share.</p>
    <p>The intended user base will consist of 18+ adults who are looking to explore the city’s food culture including
        bars and restaurant venues with their friends and family. Perfect for a night out after work, or traveling to a
        city’s downtown.</p>
{% endblock content %}