{% extends "layout.html "%}
{% block content %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/login.css') }}">

<div class="login-wrap">
	<div class="login-html">

        <!-- Buttons to switch between login and signup -->
		<input id="tab-1" type="radio" name="tab" class="sign-in" checked><label for="tab-1" class="tab">Login</label>
		<input id="tab-2" type="radio" name="tab" class="sign-up"><label for="tab-2" class="tab">Sign Up</label>

		<div class="login-form">
            <!-- Login Tab -->
			<div class="sign-in-htm">
                <form method="POST" action="">
                    {{ form.hidden_tag() }}
                <!-- Username Field -->
				<div class="group">
                    <label for="user" class="label">
                        {{ form.email.label(for = "user", class = "label") }}
                    </label>
                    {% if form.email.errors %}
                        {{ form.email(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.email.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.email(class="input") }}
                    {% endif %}
                </div>

                <!-- Password Field -->
                <div class="group">
                    <label for="pass" class="label">
                        {{ form.password.label(for = "pass", class="label") }}
                    </label>
                    {% if form.password.errors %}
                        {{ form.password(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.password.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.password(class="input") }}
                    {% endif %}
                </div>

                <!-- Remember Me checkbox -->
				<div class="group">
                    {{ form.remember(id = "check", type = "checkbox", class="check") }}
                    <label for="check"><span class="icon"></span> {{ form.remember.label }} </label>
				</div>

                <!-- Submit Button -->
				<div class="group">
                    {{ form.submit(class="button") }}
                </div>

				<div class="hr"></div>
                </form>

                <!-- Forgot password -->
				<div class="foot-lnk">
					<a href="{{url_for('reset_request')}}">Forgot Password?</a>
				</div>
			</div>

            <!-- Sign Up Tab -->
			<div class="sign-up-htm">
                <form method="POST" action="">
                    {{ form.hidden_tag() }}
                <!-- Username Field -->
				<div class="group">
                    <label for="user" class="label">
                        {{ form.email.label(for = "user", class = "label") }}
                    </label>
                    {% if form.email.errors %}
                        {{ form.email(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.email.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.email(class="input") }}
                    {% endif %}
				</div>

                <!-- Password Field -->
				<div class="group">
					<label for="pass" class="label">
                        {{ form.password.label(for = "pass", class="label") }}
                    </label>
                    {% if form.password.errors %}
                        {{ form.password(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.password.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.password(class="input") }}
                    {% endif %}
				</div>

                <!-- Repeat password -->
                 <div class="group">
                    <label for="pass" class="label">
                        {{ form2.confirm_password.label(for = "pass", class="label") }}
                    </label>
                    {% if form2.confirm_password.errors %}
                        {{ form2.confirm_password(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form2.confirm_password.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form2.confirm_password(class="input") }}
                    {% endif %}
                </div>

				<!-- Submit Button -->
				<div class="group">
					{{ form2.submit(class="button") }}
				</div>
                </form>

				<div class="hr"></div>

				<div class="foot-lnk">
					Already a member? <a class = "icon" href="{{ url_for('login') }}">Sign In</a>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock content %}