{% extends "layout.html "%}
{% block content %}

<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/profile.css') }}">

    <div class="page-wrap">
    <div class="login-wrap">
        <div class="login-html">
            <div class="wrapper">
                <div class="profile">
                    <img src="{{ image_file }}" class="thumbnail">
                    <h3 class="name">
                        {% if current_user.first_name != None and current_user.last_name != None %}
                            {{ current_user.first_name }} {{ current_user.last_name }}
                        {% else %}
                            <h5> Please add a first and last name in the settings page.</h5>
                        {% endif %}
                    </h3>
                    <p class="title"> {{ current_user.email }} </p>
                    <a class = "btn" href="{{ url_for('settings') }}">Settings</a>
                </div>

                <div class="social-icons">
                    <div class="icon">
                        <h4>Adventures</h4>
                    </div>
            </div>

            <div>
                {% for user in query %}
                    <p>
                        <a class="" href="{{ url_for('summary', adv_id=user[2].adventureID) }}">{{ user[2].name}} </a>
                        - {{user[2].date}}
                    </p>
                {% endfor %}
            </div>
            </div>
        </div>
    </div>
    </div>
    </div>
{% endblock content %}