{% extends "layout.html "%}
{% block content %}

<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/profile.css') }}">

    <div class="page-wrap">
    <div class="login-wrap">
        <div class="login-html">
            <div class="wrapper">
                <div class="profile">
                    <img src="{{ image_file }}" class="thumbnail">
                    <h3 class="name">
                        {% if current_user.first_name != None and current_user.last_name != None %}
                            {{ current_user.first_name }} {{ current_user.last_name }}
                        {% else %}
                            <h5> Please add a first and last name in the settings page.</h5>
                        {% endif %}
                    </h3>
                    <p class="title"> {{ current_user.email }} </p>
                    <a class = "btn" href="{{ url_for('settings') }}">Settings</a>
                </div>

                <div class="social-icons">
                    <div class="icon">
                        <h4>Adventures</h4>
                    </div>
            </div>

            <div class ="adventure-gallery">
                {% for user in query.items %}
                    <div class="gallery">
                        <a href="{{ url_for('summary', adv_id=user[2].adventureID) }}">
                            <img src="{{ url_for('static',filename='img/thisisatest.png') }}" alt="Sonic" width="375" height="400">
                        </a>
                        <div class="desc">
                            <p>
                                <a class="" href="{{ url_for('summary', adv_id=user[2].adventureID) }}">{{ user[2].name}} </a><br>
                                {{user[2].date.strftime('%B %d, %Y')}}
                            </p>
                        </div>
                    </div>
                {% endfor %}

            </div>
            <!-- pagination and create links for pages -->
            {% for page_num in query.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2)  %}
                {%  if page_num %}
                    {%  if query.page == page_num %}
                        <a class="btn btn-info mb-4" href="{{ url_for('profile', page=page_num) }}">{{ page_num }}</a>
                    {% else %}
                        <a class="btn btn-outline-info mb-4" href="{{ url_for('profile', page=page_num) }}">{{ page_num }}</a>
                    {% endif %}
                {% else %}
                    ...
                {% endif %}
            {% endfor %}
            </div>
        </div>
    </div>
    </div>
    </div>
{% endblock content %}