.r_name {
    font-size: 5vh;
}

.r_add {
    font-size: 4vh;
}

.follow-buttons {
    height: 100px;
    line-height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
